/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('gear b.jpg!sw800') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    text-align: center;
}

/* Navigation Bar */
nav {
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(196, 32, 32, 0.1);
    position: relative;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    margin-right: auto; /* Push logo to the left */
}

.nav-logo img {
    height: 60px;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links button {
    background: #444;
    color: #fff;
    border: 2px solid #444;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.nav-links button:hover {
    background: #FFD700;
    color: #333;
    transform: translateY(-3px);
}

/* Main Content */
.main-content {
    margin: 50px 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: left; /* Align text to the left */
}

.main-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.main-content h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-content p,
.main-content ul {
    font-size: 18px;
    line-height: 1.6;
}

.main-content ul {
    list-style-type: disc;
    margin: 10px 0 20px 20px;
}

/* Footer */
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

footer p {
    margin-top: 15px;
    font-size: 14px;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        z-index: 1;
        padding: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .main-content {
        margin: 30px 10px;
        padding: 20px;
    }
}

.nav-links button {
    padding: 20px 40px !important; /* Increased padding for larger button size */
    font-size: 24px !important; /* Increased font size */
    border-radius: 40px !important; /* Increased border radius for a more rounded shape */
    margin-right: 20px;
  }
  